<script setup>

import { router } from "@inertiajs/vue3";
import TagLayout from "@/Layouts/Layout.vue";


const tag = {
    title: null
}

function pullTag() {
    axios.post('/tags', tag )
        .then(res => router.get(`/tags`))
}


</script>

<template>
    <TagLayout>
        <h1>Tags</h1>
        <form class="bg-white rounded-l-md shadow-md rounded px-8 pt-6 pb-8 mb-4 w-96 h-40">
            <div class="mb-4">
                <input class="mt-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="tag.title" type="text" placeholder="title">
            </div>
            <div class="flex justify-center">
                <button @click.prevent="pullTag" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline" type="button">
                    Create tag
                </button>
            </div>
        </form>
    </TagLayout>

</template>

<style scoped>

</style>
