<script setup>
import {Link, router} from "@inertiajs/vue3";
import TagLayout from "@/Layouts/Layout.vue";

defineProps({
    tags: Array
})

function deleteTag(id) {
    axios.delete(`/tags/${id}`)
        .then(res => router.get('/tags'))
}

</script>

<template>
   <TagLayout>
       <h1>Tags</h1>
           <div class="mt-3 flex align-middle justify-between w-1/3 bg-gray-50 border rounded-lg" v-if="tags" v-for="tag in tags">
               <div class="mt-3 text-2xl ml-3 font-bold ">{{ tag.title }}</div>
               <div class="text-2xl ml-3 flex flex-row justify-center">
                   <Link class="hover:bg-blue-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-blue-300 text-center self-center mt-3 mb-4 mr-5" :href="route('tag.edit', tag.id)">Edit</Link>
                   <button @click.prevent="deleteTag(tag.id)" class="hover:bg-red-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-red-300 text-center self-center mt-3 mb-4 mr-5">Delete</button>
               </div>
           </div>
   </TagLayout>

</template>

<style scoped>

</style>
