<script setup>

import { router } from "@inertiajs/vue3";
import PostLayout from "@/Layouts/Layout.vue";
import CreateComment from "@/Components/Comment/Create.vue"

const post = {
    title: null,
    content: null,
    category_id: null,
    tag_ids: [],
}

defineProps({
    categories: Array,
    tags: Array
})
function pullPost() {
    axios.post('/posts', post)
        .then(res => router.get('/posts'))
}
</script>

<template>
    <PostLayout>
        <h1>Posts</h1>
        <form class="bg-white rounded-l-md shadow-md rounded px-8 pt-6 pb-8 mb-4 w-96 h-2/3">
            <div class="mb-4">
                <input class="mt-3 shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="post.title" type="text" placeholder="title">
            </div>
            <div class="mb-6">
                <input class="mt-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="post.content" type="text" placeholder="content">
            </div>
            <select v-if="categories" v-model="post.category_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option v-for="category in categories" :value="category.id">{{category.title}}</option>
            </select>
            <select multiple v-if="tags" v-model="post.tag_ids" class="mt-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option v-for="tag in tags" :value="tag.id">{{tag.title}}</option>
            </select>
            <div class="flex justify-center mt-3">
                <button @click.prevent="pullPost" class="mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Create post
                </button>
            </div>

        </form>
    </PostLayout>

</template>

<style scoped>

</style>
