<script setup>

import { router } from "@inertiajs/vue3";
import {defineProps, onMounted, ref} from 'vue';
import PostLayout from "@/Layouts/Layout.vue";

const props = defineProps({
    post: Object
})


function updatePost(post) {
    console.log(post.id)
    axios.patch(`/posts/${post.id}`, {title: post.title, content: post.content})
        .then(res => router.get(`/posts/${res.data.id}`))
}


</script>

<template>
    <PostLayout>
        <form class="bg-white rounded-l-md shadow-md rounded px-8 pt-6 pb-8 mb-4 w-96 h-60">
            <div class="mb-4">
                <input class="mt-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="post.title" type="text">
            </div>
            <div class="mb-6">
                <input class="mt-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="post.content" type="text">
            </div>
            <div class="flex justify-center">
                <button @click.prevent="updatePost(post)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Update post
                </button>
            </div>

        </form>
    </PostLayout>

</template>

<style scoped>

</style>
