<script setup>
import { Link } from "@inertiajs/vue3";
import {defineProps, ref, provide, inject, onUpdated, onMounted} from "vue";

import PostLayout from "@/Layouts/Layout.vue";
import CommentComponent from "@/Components/Comment/Index.vue";
import PostLike from "@/Components/Like/PostLike.vue";
import CommentCreate from "@/Components/Comment/Create.vue";
import ShowButton from "@/Components/Comment/ShowButton.vue";
import CreateButton from "@/Components/Comment/CreateButton.vue";

defineProps({
    posts: Object
})

const comments = ref({})
const show_id = ref(0)
const user = ref({})
const commentCreateClicked = ref(0)

provide('comments',comments)
provide('show_id',show_id)
provide('current_user', user.value)
provide('commentCreateClicked',commentCreateClicked)

onMounted(() => {
    user.value = JSON.parse(localStorage.getItem('current_user'))
})

function checkOut(postId) {
    return show_id.value === postId;
}

function getComments()
{
    return comments.value
}

</script>

<template>
   <PostLayout>
       <h1>Posts</h1>
               <div class="mt-3 flex flex-col w-2/3 mb-3" v-if="posts" v-for="post in posts">
                   <div class="mt-3 flex flex-col border rounded-lg h-auto" :class="{ 'bg-gray-200': checkOut(post.id)}" >
                       <div class="mt-3 flex flex-row justify-between">
                           <div class="mt-3 ml-3 text-sm">{{post.date}}</div>
                           <div class="mt-3 text-2xl font-bold">{{ post.title }}</div>
                           <div class="mt-3 mr-3 font-light text-base">#{{post.category.title}}</div>
                       </div>
                       <div class="mt-3 text-xl ml-3">{{ post.content }}</div>
                       <Link class="hover:bg-blue-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-blue-300 text-center self-center mt-3" :href="route('post.show', post.id)">Open</Link>
                       <div class="flex flex-row justify-between">
                           <div class="mt-3 ml-3">
                               <CreateButton :post_id="post.id"></CreateButton>
                           </div>
                           <div class="flex flex-row">
                               <PostLike :post_id="post.id" :likes_count="post.likes_count"></PostLike>
                               <ShowButton :post_id="post.id"></ShowButton>
                           </div>
                       </div>
                   </div>
                   <CommentCreate v-if="commentCreateClicked === post.id" class="w-full" :post_id="post.id"></CommentCreate>
                   <CommentComponent class="mt-3 rounded-l-md w-2/3 self-center"  v-if="checkOut(post.id)" :post_id="post.id" :comments="getComments()"></CommentComponent>
               </div>
   </PostLayout>

</template>

<style scoped>

</style>
