<script setup>
import { defineProps, ref } from 'vue';
import PostLayout from "@/Layouts/Layout.vue";
import CreateComment from "@/Components/Comment/Create.vue"
import {Link, router} from "@inertiajs/vue3";
defineProps({
    post: Object,
    tags: Object,
    category: Object
})

const isGoingToComment = ref(null)

function deletePost(id) {
    axios.delete(`/posts/${id}`).then(res => router.get('/posts'))
}

</script>

<template>
    <PostLayout>
        <h1>Posts</h1>
        <div class="mt-3 flex justify-between w-1/3 bg-gray-50 border rounded-lg" v-if="post">
            <div class="flex flex-col">
                <div class="mt-3 text-2xl ml-3 font-bold ">{{ post.title }}</div>
                <div class="mt-3 text-xl ml-3 whitespace-normal">{{ post.content }}</div>
                <div class="mt-3 text-xl ml-3 whitespace-normal flex flex-row">
                    <div class="text-sm font-light text-center">Tags:</div>
                    <div v-if="tags" v-for="tag in tags" class="text-sm font-light ml-2">
                        {{tag.title}}
                    </div>
                </div>

            </div>
            <div class="flex flex-col justify-start">
                <button class="hover:bg-red-600 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-red-400 text-center self-center mt-3 mb-4 mr-2 text-base" @click.prevent="deletePost(post.id)">Delete</button>
                <Link class="hover:bg-green-600 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-green-300 text-center self-center mb-4 mr-2 text-base" :href="route('post.edit', post.id)">Edit</Link>
            </div>
        </div>
        <button class="hover:bg-blue-600 hover:scale-110 ease-in-out duration-200 rounded-md w-36 bg-blue-400 text-center self-center mt-3 mb-4 mr-2 text-base" @click="isGoingToComment === true ? isGoingToComment = false : isGoingToComment = true">Comment</button>
        <CreateComment v-if="isGoingToComment" :post_id="post.id"></CreateComment>
    </PostLayout>

</template>

<style scoped>

</style>
