<script setup>
import LoginForm from "@/Components/Login/Form.vue"
import Layout from "@/Layouts/Layout.vue";
</script>

<template>
<layout>
    <LoginForm></LoginForm>
</layout>

</template>

<style scoped>

</style>
