<script setup>
import RegistrationForm from "@/Components/Registration/Form.vue"
import Layout from "@/Layouts/Layout.vue";
</script>

<template>
<layout>
    <registration-form></registration-form>
</layout>
</template>

<style scoped>

</style>
