<script setup>
import {inject} from "vue";

const commentCreateClicked = inject('commentCreateClicked');

defineProps({
    post_id: Number
})

function click(post_id)
{
    if (commentCreateClicked.value !== post_id)
    {
        commentCreateClicked.value = post_id
    }
    else {
        commentCreateClicked.value = null
    }
}

</script>

<template>
<button @click="click(post_id)">
    Create Comment
</button>
</template>

<style scoped>

</style>
