<script setup>
import {ref, inject} from "vue";
import {router} from "@inertiajs/vue3";
const commentCreateClicked = inject('commentCreateClicked')
const content = ref('')

defineProps({
    post_id: Number
})
function createComment(post_id)
{
    axios.post(`/comments/${post_id}`,{content: content.value, post_id: post_id})
        .then(res => commentCreateClicked.value = null);
}

</script>

<template>
<div class="w-1/3 h-12 bg-gray-100 flex flex-row">
    <input class="flex-1 rounded-l-md focus:border-0" type="text" placeholder="comment" v-model="content">
    <button class="bg-blue-300 w-24 hover:bg-blue-400" @click="createComment(post_id)">Create</button>
</div>
</template>

<style scoped>

</style>
