<script setup>

import CommentLike from "@/Components/Like/CommentLike.vue";
import Reply from "@/Components/Reply/Reply.vue";

defineProps({
    comments: {
        type: Object,
        required: true
    },
    post_id: {
        type: Number,
        required: true
    }
})

</script>

<template>
<div class="h-2/3 justify-items-center" v-if="comments">
    <template v-for="comment in comments">
        <div class="flex flex-col h-auto bg-gray-100 mb-3">
            <div class="flex flex-row justify-between">
                <div class="ml-3 mt-3 font-medium">Author</div>
                <div class="flex flex-row justify-end">
                    <div class="mr-8 mt-3 text-sm h-8 text-center">{{comment.date}}</div>
                    <CommentLike :likes_count="comment.likes" :comment_id="comment.id"></CommentLike>
                </div>
            </div>
            <div class="font-sans text-xl ml-3 mt-3">{{comment.content}}</div>
            <Reply :comment_id="comment.id"></Reply>
        </div>
    </template>


</div>
</template>

<style scoped>

</style>
