<script setup>
import {ref} from "vue";
import {router} from "@inertiajs/vue3";

const email = ref('');
const password = ref('');


function login(){
    axios.post('/user/login', {email: email.value,password: password.value})
        .then(res => {
            localStorage.setItem('current_user',JSON.stringify(res.data[0]))
            router.get('/posts')
        })
}

</script>

<template>
<div class="flex flex-col w-1/3 bg-blue-100 rounded-lg">
    <span class="text-center text-2xl mt-3">Sign in</span>
    <input class="w-2/3 mt-3 self-center" v-model="email" type="text" placeholder="Email">
    <input class="w-2/3 mt-3 self-center" v-model="password" type="password" placeholder="Password">
    <button @click.prevent="login" class="hover:bg-blue-500 rounded-lg bg-blue-300 mt-3 mb-3 w-20 self-center">Sign up</button>
</div>
</template>

<style scoped>

</style>
