<script setup>
import {inject} from "vue";



const replyListClicked = inject('replyListClicked')
const replies = inject('replies')

defineProps({
    comment_id: Number
})

function clicked(comment_id)
{
    if(!replyListClicked.value)
    {
        axios.get(`/replies/${comment_id}`)
            .then(res => replies.value = res.data.data)
    } else {
        replies.value = null
    }
    replyListClicked.value = !replyListClicked.value
}

</script>

<template>
    <button class="self-end" @click.prevent="clicked(comment_id)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 4.5l-15 15m0 0h11.25m-11.25 0V8.25" />
        </svg>
    </button>
</template>

<style scoped>

</style>
