<script setup>
import {ref, inject} from "vue";
import {router} from "@inertiajs/vue3";

const text = ref('');
const comments = inject('comments')
const replyClicked = inject('replyClicked')

defineProps({
    comment_id: Number,
    post_id: Number
})
async function pullReply(comment_id, post_id)
{
    await axios.post(`/comments/${post_id}`,{content: text.value, comment_id: comment_id})
        .then(res => {
            comments.value = res.data.data
        })

    replyClicked.value = !replyClicked.value
}
</script>

<template>
<div class="flex flex-row h-8">
    <input v-model="text" type="text" placeholder="reply" class="w-96">
    <button @click.prevent="pullReply(comment_id, post_id)" class="ml-3 font-sans hover:bg-blue-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-blue-300 text-center self-center">Add</button>
</div>
</template>

<style scoped>

</style>
