<script setup>
import ReplyLike from "@/Components/Like/ReplyLike.vue";
import {ref, inject, onUpdated, onMounted} from "vue";

const repliesInjected = inject('replies')
onMounted(() => {
    console.log(repliesInjected.value)
})
</script>

<template>
    <div v-for="reply in repliesInjected" class="flex flex-col h-auto bg-gray-50 mb-5 mt-3 w-3/4 ml-28">
        <div class="flex flex-row justify-between">
            <div class="ml-3 mt-3 font-medium">Author</div>
            <div class="mr-3 mt-3 text-sm">{{reply.date}}</div>
        </div>
        <div class="font-sans text-xl ml-3 mt-3">{{reply.content}}</div>
        <div class="flex flex-row justify-end">
            <ReplyLike :likes_count="reply.likes_count" :reply_id="reply.id"></ReplyLike>
        </div>
    </div>
</template>

<style scoped>

</style>
