<script setup>
import {ref, provide} from "vue";
import FormComponent from "@/Components/Reply/Form.vue";
import ReplyButton from "@/Components/Reply/Button.vue";
import ReplyList from "@/Components/Reply/List.vue"

const replyClicked = ref(null)
const replyListClicked = ref(null)
const replies = ref(null)
provide('replyListClicked', replyListClicked)
provide('replyClicked',replyClicked)
provide('replies', replies)

defineProps({
    comment_id: Number,
})



function click()
{
    replyClicked.value = !replyClicked.value;
}
</script>

<template>
    <div class="w-full flex flex-row justify-between mt-3" :class="{'border': replyClicked }">
        <button @click="click" class="ml-3 hover:bg-blue-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-blue-300 text-center self-center">
            <span class="font-sans">Reply</span>
        </button>
        <FormComponent class="mr-3 mt-3 mb-3" v-if="replyClicked" :post_id="post_id" :comment_id="comment_id"></FormComponent>
    </div>
    <div class="w-full flex flex-col justify-between border-gray-400 mt-3" :class="{'border': replyListClicked}">
        <ReplyButton :comment_id="comment_id"></ReplyButton>
        <ReplyList v-if="replies"></ReplyList>
    </div>
</template>

<style scoped>

</style>
