<script setup>
import {Link, router} from "@inertiajs/vue3";
import CategoryLayout from "@/Layouts/Layout.vue";

defineProps({
    categories: Array
})

function deleteCategory(id) {
    axios.delete(`/categories/${id}`)
        .then(res => router.get('/categories'))
}

</script>

<template>
   <CategoryLayout>
       <h1>Categories</h1>
           <div class="mt-3 flex align-middle justify-between w-1/3 bg-gray-50 border rounded-lg" v-if="categories" v-for="category in categories">
               <div class="mt-3 text-2xl ml-3 font-bold ">{{ category.title }}</div>
               <div class="text-2xl ml-3 flex flex-row justify-center">
                   <Link class="hover:bg-blue-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-blue-300 text-center self-center mt-3 mb-4 mr-5" :href="route('category.edit', category.id)">Edit</Link>
                   <button @click.prevent="deleteCategory(category.id)" class="hover:bg-red-500 hover:scale-110 ease-in-out duration-200 rounded-md w-20 bg-red-300 text-center self-center mt-3 mb-4 mr-5">Delete</button>
               </div>
           </div>
   </CategoryLayout>

</template>

<style scoped>

</style>
