<script setup>
import { Link } from "@inertiajs/vue3";
import {onMounted, ref} from "vue";

const user = ref({})

onMounted(() => {
    user.value = JSON.parse(localStorage.getItem('current_user'))
})

</script>

<template>
    <div class="flex mt-10 flex-row justify-center">
        <Link class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('post.index')">List of posts</Link>
        <Link class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('category.index')">List of categories</Link>
        <Link class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('tag.index')">List of tags</Link>
        <Link class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('post.create')">Create post</Link>
        <Link class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('category.create')">Create category</Link>
        <Link class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('tag.create')">Create tag</Link>
        <Link v-if="!user" class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 mr-3 bg-yellow-100 p-2" :href="route('user.login')">Login</Link>
        <Link v-if="!user" class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 bg-yellow-100 p-2" :href="route('user.registration')">Registration</Link>
        <Link v-if="user" class="hover:scale-110 ease-in-out duration-200 hover:bg-yellow-200 bg-yellow-100 p-2" :href="route('user.registration')">Profile</Link>
    </div>
    <div class="flex mt-10 flex-col items-center">
            <slot />
    </div>

</template>

<style scoped>

</style>
